<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204699008282-8jof27ik25f4ijp0p5fd7u5q7btuo28p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204699008282-8jof27ik25f4ijp0p5fd7u5q7btuo28p</string>
	<key>API_KEY</key>
	<string>AIzaSyCgZkjVqlhiaHYo2xqfyymcHxl_OIVP3nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>204699008282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thekevinportela.mealsApp</string>
	<key>PROJECT_ID</key>
	<string>meals-app-99523</string>
	<key>STORAGE_BUCKET</key>
	<string>meals-app-99523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204699008282:ios:ff0df729ceb919c96800a3</string>
</dict>
</plist>